<!DOCTYPE html>
<html>
<head>
	<title>Auth</title>
</head>
<body>
	<h1> <%= provider %> wants your information</h1>
	<% if (alreadyAuthorized) { %>
	<h3>You already authorised <%= provider %></h3>
	<% } %>
	<form action="/auth" method="POST">
		<input type="hidden" name="provider" value="<%= provider %>"/>
		<input type="hidden" name="callback" value="<%= callback %>"/>
		
		<% for(var i in permissions) { %>
		<input type="checkbox" name="p.<%= permissions[i][0]%>" <% if (permissions[i][2]){ %> checked<% } %> ><%=permissions[i][0]%>: <%=permissions[i][1]%></input> 
		<% } %>

		<input value="Login" type="submit"/>
	</form>
	<a href="<%= callback%>">Cancel</a>
</body>
</html>