<html>
  <head>
    <title>Config</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body class="configBg">
    <div class="configMain">
      <h1>Enter your info</h1>
      <form action="/config" method="POST">
        <div class="rectPicBox">
          <div class="rectPicLogo">
            <img src="../images/camera.png"/>
          </div>
          <ul class="importPic">
            <li>
            <input class="rectPicSum" type="file" name="picture" value="<% if (data['picture']){ %><%= data['picture'] %><% } %>">
            </li>
            <li>
            <a href="#">Import from Gravatar</a>
            </li>
          </ul>
        </div>
        <input placeholder="Name" class="name" type="text" name="name" value="<% if (data['name']){ %><%= data['name'] %><% } %>">

        <input placeholder="Surname" class="surname" type="text" name="surname" value="<% if (data['surname']){ %><%= data['surname'] %><% } %>">
        <input placeholder="Email" class="email" type="text" name="email" value="<% if (data['email']){ %><%= data['email'] %><% } %>">
        <textarea placeholder="Description" name="bio" value="<% if (data['bio']){ %><%= data['bio'] %><% } %>"></textarea>
        <input type="submit" />
      </form>
      </div>
  </body>
</html>